body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Nanum Gothic', sans-serif;
}



.container {

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  
}

.head{

  display: flex;
  justify-content: center;
  background-color: #A58D7F;
  height: 100px;
  border-radius: 12px;
 

}

.head h1{

  display: flex;
  font-size: 35px;
  font-weight: 700;
  color: #f6f0fc;
  align-items: center;
  text-transform: capitalize;

}

.loginForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
}

.inputField {

  display: grid;
  grid-template-rows: 0.2fr 1fr;
  row-gap: 5px;
  padding-top: 10px;
 
}


.input_label{

  color: #84898C;
  font-size: 14px;
 
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #84898C;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 16px;
 background: rgba(255, 255, 255, 1);
}



.submitButton {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #f6f0fc;
 padding: 12px;
 font-size: 20px;
 font-weight: bold;
 border: solid 2px #B5C7D3;
 border-radius: 4px;
 background: #B5C7D3;
 cursor: pointer;
}